@import "../../styles/colors.module.scss";

.homeWrapper {
  background: radial-gradient(
    49.95% 49.95% at 50% 50.05%,
    #fff8db 0%,
    #ffe993 100%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
