.NavigationSmallDevices {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  .navigation {
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    &.clicked {
      top: 0;
    }
    .navLink {
      font-size: 3rem;
      transition: all 0.15s ease-in-out;
      color: #787648;
      z-index: 10;
      &.active {
        transform: skew(0deg, 0deg) scale(1.1);
        color: black;
      }
    }
    .navBg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(251, 180, 0, 0.902);
      backdrop-filter: blur(6px);
    }
  }
}
