// @import "../../../styles/colors.module.scss";
.backgroundRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.backgroundLeft {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
