@import "../../../styles/colors.module.scss";

.containerWrapper {
  display: flex;
  flex-direction: column;
  z-index: 10;
  .sidesContainer {
    height: 100px;
    width: 750px;
    perspective: 1000px;
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
    animation: floating infinite 2s ease-in-out;
    animation-delay: 2.5s;
    .box {
      height: 100%;
      width: 100%;
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(0deg) rotateX(-40deg);
      transition: all 0.3s ease-in-out;
      animation: entryAnimation 3s ease-out;
      .side {
        text-align: center;
        color: black;
        box-sizing: border-box;
        position: absolute;
        height: 100px;
        p {
          font-family: "Arial Black";
          font-size: 5rem;
          position: absolute;
          top: -10px;
          left: 50px;
          transition: all 0.5s ease-in-out;
          -webkit-text-stroke-width: 3px;
          &.name.yellow {
            color: $yellow-primary;
          }
        }
      }

      #left,
      #right,
      #top,
      #bottom {
        width: 750px;
      }

      #front,
      #back {
        width: 100px;
      }

      #top,
      #bottom {
        transform: rotateX(90deg);
      }

      #top,
      #right {
        p:hover {
          color: transparent;
        }
      }

      #front {
        right: 700px;
        background-color: #ffe26c;
        transform: rotateY(-90deg);
      }

      #back {
        left: 700px;
        background-color: var(--dark-yellow);
        transform: rotateY(90deg);
      }

      #left {
        background-color: var(--dark-yellow);
        transform: translateZ(-50px) rotateY(180deg);
      }

      #right {
        //Last Name side
        background-color: black;
        transform: translateZ(50px);
        p {
          -webkit-text-stroke-color: $yellow-primary;
          color: $yellow-primary;
        }
      }
      #top {
        //First name side
        background: linear-gradient(
          180deg,
          $yellow-primary 0%,
          $yellow-light 100%
        );
        top: -50px;
        p {
          -webkit-text-stroke-color: black;
          color: black;
        }
      }

      #bottom {
        background-color: var(--dark-yellow);
        top: 50px;
      }
    }
  }

  .frontEndDev {
    height: 65px;
    width: 296px;
    position: relative;
    margin-top: 3.5rem;
    align-self: flex-end;
    transform: skew(21deg, 0deg);
    overflow: hidden;
    .slidingText {
      animation: slidingText 4s ease-in-out;
      color: black;
      text-decoration: none;
      font-family: "Arial Black";
      font-weight: 900;
      font-size: 1.7rem;
      position: absolute;
      width: 296px;
      top: 0;
      margin: 0;
    }
  }
}

@keyframes slidingText {
  0% {
    right: -296px;
  }
  100% {
    right: 0px;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
  }
  50% {
    transform: translate(0, 15px);
    filter: drop-shadow(0px 11px 10px rgba(0, 0, 0, 0.4));
  }
  100% {
    transform: translate(0, -0px);
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
  }
}

@keyframes entryAnimation {
  0% {
  }
  30% {
    transform: rotateY(0deg) rotateX(-40deg);
  }
  45% {
    transform: rotateY(25deg) rotateX(-75deg) scale(1.1);
  }
  65% {
    transform: rotateY(25deg) rotateX(-10deg) scale(1.1);
  }
  85% {
    transform: rotateY(0deg) rotateX(-40deg);
  }
}
