@import "../../../styles/colors.module.scss";
@import "./breakpoints.module.scss";

.containerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  .sidesContainer {
    height: 100px;
    width: 750px;
    perspective: 1000px;
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
    animation: floating infinite 2s ease-in-out;
    animation-delay: 2.5s;
    @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
      width: 600px;
      height: 80px;
    }
    @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
      width: 500px;
      height: 70px;
    }
    @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
      width: 380px;
      height: 52px;
    }
    @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
      width: 320px;
      height: 46px;
    }
    @media screen and (max-width: $phone-M) {
      height: 11vw;
      max-width: 80vw; //40
    }

    @media screen and (max-width: $tablet-XS) {
      animation: floatingMobile infinite 2s ease-in-out;
    }

    .box {
      height: 100%;
      width: 100%;
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(0deg) rotateX(-40deg);
      transition: all 0.3s ease-in-out;
      animation: entryAnimation 3s ease-out;
      .side {
        color: black;
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        p {
          font-family: "Arial Black";
          font-size: 5rem;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translate(0, -50%);
          transition: color 0.3s ease-in-out;
          -webkit-text-stroke-width: 3px;
          &.name.yellow {
            color: $yellow-primary;
          }
          @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
            font-size: 4rem;
            -webkit-text-stroke-width: 2px;
          }
          @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
            font-size: 3.5rem;
            -webkit-text-stroke-width: 2px;
          }
          @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
            font-size: 2.7rem;
            -webkit-text-stroke-width: 1.5px;
          }
          @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
            font-size: 2.2rem;
            -webkit-text-stroke-width: 1px;
          }
          @media screen and (max-width: $phone-M) {
            font-size: 8vw;
            -webkit-text-stroke-width: 1px;
          }
        }
      }
      #left,
      #right,
      #top,
      #bottom {
        width: 100%;
      }

      #front,
      #back {
        width: 100px; //width = height
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          width: 80px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          width: 70px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          width: 52px;
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          width: 46px;
        }
        @media screen and (max-width: $phone-M) {
          width: 11vw;
        }
      }

      #top,
      #bottom {
        transform: rotateX(90deg);
      }

      #top,
      #right {
        p:hover {
          color: transparent;
        }
      }

      #front {
        right: 700px; //width - ( height / 2 )
        background-color: #ffe26c;
        transform: rotateY(-90deg);
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          right: 560px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          right: 465px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          right: 354px;
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          right: 297px;
        }
        @media screen and (max-width: $phone-M) {
          right: 74.5vw;
        }
      }

      #back {
        left: 700px; //width - height / 2
        background-color: var(--dark-yellow);
        transform: rotateY(90deg);
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          left: 560px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          left: 465px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          left: 354px;
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          left: 297px;
        }
        @media screen and (max-width: $phone-M) {
          left: 74.5vw;
        }
      }

      #left {
        background-color: var(--dark-yellow);
        transform: translateZ(-50px) rotateY(180deg); //tZ = height / 2
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          transform: translateZ(-40px) rotateY(180deg);
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          transform: translateZ(-35px) rotateY(180deg);
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          transform: translateZ(-26px) rotateY(180deg);
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          transform: translateZ(-23px) rotateY(180deg);
        }
        @media screen and (max-width: $phone-M) {
          transform: translateZ(-5.5vw) rotateY(180deg);
        }
      }

      #right {
        //Last Name side
        background-color: black;
        transform: translateZ(50px); //tZ = height / 2
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          transform: translateZ(40px);
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          transform: translateZ(35px);
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          transform: translateZ(26px);
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          transform: translateZ(23px);
        }
        @media screen and (max-width: $phone-M) {
          transform: translateZ(5.5vw);
        }
        p {
          -webkit-text-stroke-color: $yellow-primary;
          color: $yellow-primary;
        }
      }
      #top {
        //First name side
        background: linear-gradient(
          180deg,
          $yellow-primary 0%,
          $yellow-primary 100%
        );
        top: -50px; // height / -2
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          top: -40px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          top: -35px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          top: -26px;
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          top: -23px;
        }
        @media screen and (max-width: $phone-M) {
          top: -5.5vw;
        }
        p {
          -webkit-text-stroke-color: black;
          color: black;
        }
      }

      #bottom {
        background-color: var(--dark-yellow);
        top: 50px; // height / 2
        @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
          top: 40px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
          top: 35px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          top: 26px;
        }
        @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
          top: 23px;
        }
        @media screen and (max-width: $phone-M) {
          top: 5.5vw;
        }
      }
    }
  }

  .frontEndDev {
    height: 38px;
    width: 296px;
    margin-top: 3.5rem;
    font-size: 1.7rem;
    position: relative;
    align-self: flex-end;
    transform: skew(21deg, 0deg);
    overflow: hidden;

    @media screen and (min-width: $tablet-L) and (max-width: $tablet-XL) {
      margin-top: 3rem;
      font-size: 1.5rem;
    }
    @media screen and (min-width: $tablet-XS) and (max-width: $tablet-L) {
      margin-top: 2.9rem;
      font-size: 1.3rem;
    }
    @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
      font-size: 1.1rem;
      margin-top: 2rem;
    }
    @media screen and (max-width: $phone-M) {
      margin-top: 8.5vw;
      font-size: 3.5vw;
      width: 45vw;
    }
    @media screen and (min-width: $phone-M) and (max-width: $phone-L) {
      font-size: 1rem;
      margin-top: 1.9rem;
    }
    .slidingText {
      animation: slidingText 4s ease-in-out;
      color: black;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
}

@keyframes slidingText {
  0% {
    right: -100%;
  }
  100% {
    right: 0px;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
  }
  50% {
    transform: translate(0, 15px);
    filter: drop-shadow(0px 11px 10px rgba(0, 0, 0, 0.4));
  }
  100% {
    transform: translate(0, -0px);
    filter: drop-shadow(-8px 35px 10px rgba(0, 0, 0, 0.5));
  }
}
@keyframes floatingMobile {
  0% {
    transform: translate(0, 0px);
    filter: drop-shadow(-8px 20px 10px rgba(0, 0, 0, 0.5));
  }
  50% {
    transform: translate(0, 10px);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.4));
  }
  100% {
    transform: translate(0, -0px);
    filter: drop-shadow(-8px 20px 10px rgba(0, 0, 0, 0.5));
  }
}

@keyframes entryAnimation {
  0% {
    pointer-events: none;
  }
  30% {
    transform: rotateY(0deg) rotateX(-40deg);
  }
  45% {
    transform: rotateY(25deg) rotateX(-75deg) scale(1.1);
  }
  65% {
    transform: rotateY(25deg) rotateX(-10deg) scale(1.1);
  }
  85% {
    transform: rotateY(0deg) rotateX(-40deg);
  }
}
