@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';

.projects {
  position: relative;
  background: $yellow-light;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;

  .projectsInner {
    max-width: 50vw;
    min-width: 800px;
    @media screen and (max-width: $laptop-S) {
      min-width: 75vw;
    }
    @media screen and (max-width: $phone-M) {
      min-width: 85vw;
    }
    .pageTitle {
      font-size: 3rem;
      margin-top: 4rem;
    }
    .pagePretitle {
      margin-bottom: 8rem;
      color: $yellow-primary;
      @media screen and (max-width: $phone-L) {
        min-width: 85vw;
        margin-bottom: 4rem;
      }
    }
  }
}
