@import "../../../styles/colors.module.scss";
.NavigationLargeDevices {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 1rem;
  background-color: $yellow-primary;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
