@import "../../../styles/colors.module.scss";
.NavigationLargeDevices {
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 9999;
  background-color: $yellow-primary;
  // opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.2s ease-in-out, filter 0.3s ease;
  &.scrollDown {
    transform: translateY(-55px);
  }
  .navLink {
    transition: color 0.2s ease;
    color: $gray-primary;
    &.active {
      color: black;
    }
    &:hover {
      color: black;
    }
  }
  .contactIcons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -40%);
    .linkedIn,
    .gitHub,
    .email {
      cursor: pointer;
      margin: 0 0.5rem;
      transition: all 0.2s ease-in-out;
      color: $gray-secondary;
    }
    .linkedIn:hover {
      // background-color: white;
      color: $linkedIn-blue;
    }
    .gitHub:hover {
      color: $black;
    }
    .email:hover {
      color: $danger-primary;
    }
  }
}
.navShadow {
  // transition: filter 0.3s ease;
  filter: drop-shadow(5px 10px 20px rgba(0, 0, 0, 0.34));
}
