@import "../../../styles/colors.module.scss";
.bgPolygonTop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vh;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: $yellow-light;
}
.bgPolygonBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  background-color: $yellow-light;
}
.bgPolygonMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 95vh;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: $yellow-secondary;
}

