$yellow-primary: #ffcc01;
$yellow-primary-hover: rgb(255, 191, 0);
$yellow-secondary: #ffdb49;
$yellow-light: #fff8db;
$yellow-light-secondary: #ffe26c;
$gray-primary: rgb(50, 50, 50);
$gray-secondary: rgb(74, 74, 74);
$gray-light: rgb(214, 214, 214);
