@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module.scss";
.aboutWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $yellow-primary;
  .whiteTriangle {
    position: absolute;
    top: -2px;
    right: 0;
    height: calc(100% + 4px);
    width: 100%;
    background-color: #fff8db;
    z-index: 10;
    -webkit-clip-path: polygon(79% 0, 100% 0, 100% 100%, 39% 100%);
    clip-path: polygon(79% 0, 100% 0, 100% 100%, 39% 100%);
  }
  .aboutInner {
    z-index: 10;
    position: relative;
    max-width: 50vw;
    min-width: 800px;
    @media screen and (max-width: $laptop-S) {
      min-width: 75vw;
    }
    @media screen and (max-width: $phone-M) {
      min-width: 85vw;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 3.5rem;
      width: 100%;
      @media screen and (max-width: $tablet-XS) {
        font-size: 2.5rem;
      }
    }
    .textAndImgWrapper {
      display: flex;
      @media screen and (max-width: $tablet-XL) {
        flex-direction: column-reverse;
      }
      .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          font-family: "Montserrat";
          font-size: 1.5rem;
          @media screen and (max-width: $tablet-XS) {
            font-size: 1.2rem;
          }
          .name {
            font-family: "Arial Black";
          }
        }
      }
      .imageWrapper {
        width: 650px;
        @media screen and (min-width: $tablet-XL) and (max-width: $laptop-S) {
          width: 650px;
        }
        @media screen and (max-width: $tablet-XL) {
          position: absolute;
        }
        @media screen and (max-width: $tablet-XS) {
          max-width: 150px;
        }
        @media screen and (max-width: $phone-XS) {
          top: -25px;
          right: 0px;
        }
        @media screen and (min-width: $phone-XS) and (max-width: $phone-L) {
          top: 0px;
          right: 0px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          top: 0px;
          right: 70px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-XL) {
          top: -25px;
          right: 100px;
          max-width: 200px;
        }
      }
    }
  }
}
