@import "../../styles/breakpoints.module.scss";
.aboutWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    40.91% 40.91% at 36.83% 59.09%,
    #fff8db 28.65%,
    #ffe993 100%
  );
  .aboutInner {
    position: relative;
    width: 70vw;
    @media screen and (max-width: $tablet-XS) {
      width: 90vw;
    }
    @media screen and (min-width: $tablet-XS) and (max-width: $tablet-XL) {
      width: 80vw;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 3.5rem;
      width: 100%;
      @media screen and (max-width: $tablet-XS) {
        font-size: 2.5rem;
      }
    }
    .textAndImgWrapper {
      display: flex;
      @media screen and (max-width: $tablet-XL) {
        flex-direction: column-reverse;
      }
      .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          font-family: "Montserrat";
          font-size: 1.5rem;
          font-weight: 900;
          @media screen and (max-width: $tablet-XS) {
            font-size: 1.2rem;
          }
          .name {
            font-family: "Arial Black";
          }
        }
      }
      .imageWrapper {
        width: 350px;
        // height: 250px;
        // width: 50%;
        // overflow: hidden;
        @media screen and (min-width: $tablet-XL) and (max-width: $laptop-S) {
          width: 650px;
        }
        @media screen and (max-width: $tablet-XL) {
          position: absolute;
        }
        @media screen and (max-width: $tablet-XS) {
          max-width: 150px;
        }
        @media screen and (max-width: $phone-XS) {
          top: -25px;
          right: 0px;
        }
        @media screen and (min-width: $phone-XS) and (max-width: $phone-L) {
          top: 0px;
          right: 0px;
        }
        @media screen and (min-width: $phone-L) and (max-width: $tablet-XS) {
          top: 0px;
          right: 70px;
        }
        @media screen and (min-width: $tablet-XS) and (max-width: $tablet-XL) {
          top: -25px;
          right: 100px;
          max-width: 200px;
        }
      }
    }
  }
}
